.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper {
    width: 100%;
    max-width: 1280px;
    display: flex;
    gap: 20px;
}

.listSearch {
    background-color: #e4d58e;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.listResult {
    flex: 3;
}

.listSearchTitle {
    font-size: 20px;
    color: #555555;
}

.listItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.listItem>label {
    font-size: 12px;
}

.listItem>span {
    height: 30px;
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listItem>input {
    height: 30px;
    border: none;
    padding: 5px;
}

.listSpec {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555555;
    font-size: 12px;
}

.specInput {
    width: 50px;
}

.listSpecContainer {
    padding: 10px;
}

.listSearch>button {
    padding: 10px;
    background-color: #333333;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}