.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper {
    width: 100%;
    max-width: 1280px;
    display: flex;
    gap: 20px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}

.listSearch {
    border: 0.5px solid lightgray;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    position: sticky;
    top: 10px;
    height: max-content;
    width: 17vw;
}

.listResult {
    flex: 3;
}

.listSearchTitle {
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 10px;
    letter-spacing: 0.02em;
}

.listItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.listItem>label {
    font-size: 14px;
    margin-top: 10px;
    padding: 0px 10px;
}

.listItem>span {
    height: 40px;
    background-color: #555555;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px #555555 solid;
    border-radius: 5px;
    color: white;
    transition: all .2s;
    user-select: none;
}

.listItem>span:hover {
    border: 2px lightgray solid;
    background-color: lightgray;
    color: black;
    transform: translateY(-1px);
    box-shadow: 1px 1px 5px 1px gray;
}

.listItem>input {
    height: 40px;
    outline: none;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.listSpecContainer {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

.listSpec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.specText {
    font-size: 14px;
}

.specInput {
    width: 100px;
    height: 23px;
    border-radius: 5px;
    border: 1px solid black;
}


.listSearch>button {
    background-color: black;
    color: white;
    border: solid black 2px;
    padding: 11px 20px;
    font-size: 14px;
    letter-spacing: 0.01em;
    cursor: pointer;
    width: 100%;
    transition: background-color .2s, border .2s;
}

.listSearch>button:hover {
    border: solid #333333 2px;
    background-color: #333333;
}