.mail {
  width: 100%;
  margin-top: 50px;
  background-color: #242424;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 0px;
}

.mailInputContainer>input {
  width: 300px;
  padding: 11px 20px;
  font-size: 16px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  outline: none;
}

.mailInputContainer>button {
  margin-left: 10px;
  border: solid #333333 1px;
  padding: 11px 20px;
  font-size: 16px;
  letter-spacing: 0.03em;
  transition: all 0.2s;
  cursor: pointer;
  color: white;
  background-color: #333333;
}

.mailInputContainer>button:hover{
  transform: translateY(-2px);
}

.mailInputContainer>button:active{
  transform: none;
}